
export(AKMCS)

export(FORM)

export(MetaIS)

export(S2MART)

export(MonteCarlo)

export(MRM)

export(SMART)

export(SubsetSimulation)

export(ComputeDistributionParameter)

export(ModifCorrMatrix)

export(UtoX)

export(WilksFormula)

import(DiceKriging)
importFrom(e1071,svm,tune.svm)
import(kernlab)
import(Matrix)
import(rgenoud)
import(mvtnorm)